---
title: 홍콩의 비즈니스 환경
date: 2016-01-02 09:00:51
layout: page
---
<div class="content-page"><!--2-->
  <img src='../public/images/company/hongkong1.jpg'>
  <p><strong>매우 매력적인 비즈니스 환경을 가지고 있습니다.</strong></p>
  <p>외환거래를 규제하는 외환거래법이나 규정이 없어 모든 외환의 자유로운 거래와 이전이 보장됩니다.
  또한 세금은 세계적으로도 낮은 수준과 조세제도가 간단합니다.
  법인세는 16.5%, 개인기업은 15%이며 순익에 대해서만 과세합니다.
  </p><br>
  <h2>Client Testimonials</h2>
  <blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
  <div class="row front-lists-v1"><!--5-->
    <div class="col-md-6"><!--6-->
      <ul class="list-unstyled margin-bottom-20">
    		<li><i class="fa fa-check"></i> IT Development</li>
    		<li><i class="fa fa-check"></i> Consulting</li>
    		<li><i class="fa fa-check"></i> Trading</li>
      </ul>
    </div><!--6-->
    <div class="col-md-6"><!--7-->
      <ul class="list-unstyled">
    		<li><i class="fa fa-check"></i> Officia deserunt molliti</li>
    		<li><i class="fa fa-check"></i> Consectetur adipiscing </li>
    		<li><i class="fa fa-check"></i> Deserunt fpicia</li>
      </ul>
    </div><!--7-->
  </div><!--5-->
  <h2>Client Testimonials</h2>
  <div class="carousel-info"><!--13-->
	  <img src='../public/images/company/img1-medium.jpg'>
	  <div class="pull-left"><!--14-->
	    <span class="testimonials-name">Lina Mars</span>
	    <span class="testimonials-post">Commercial Director</span>
      <blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
	  </div><!--14-->
  </div><!--13-->
</div><!--2-->
